.author-block {
    margin-bottom: 30px;
    background-color: $primary;
    color: white;
    padding: 30px;
    @include respond-to('small') {
        margin-bottom: 5rem;
        padding: 5rem;
        display: grid;
        grid-template-columns: 100px auto;
        column-gap: 30px;
    }
    @include respond-to('medium') {
        grid-template-columns: 150px auto;
    }
    &__text {
        margin-top: 20px;
        @include respond-to('small') {
            margin-top: 0;
        }
    }
    &__name {
        margin-bottom: 2px;
    }
    &__bio {
        padding-top: 18px;
        margin-top: 18px;
        border-top: 1px solid white;
    }
    &__socials {
        >span {
            font-family: $title-font;
            display: block;
            margin-bottom: 10px;
        }
        &-row {
            display: flex;
        }
        a {
            margin-right: 10px;
        }
    }
    &__image {
        margin-bottom: 6px;
        max-width: 100px;
        @include respond-to('medium') {
            max-width: 150px;
        }
    }
}