.clipboard {
    padding: 20px 30px;
    background-color: $background;
    @include respond-to('medium') {
        padding: 30px 50px;
    }
    h3 {
        margin-bottom: 10px;
    }
    &__box {
        position: relative;
    }
    &__url {
        background-color: white;
        width: 100%;
        border: none;
    }
    input[type="text"] {
        padding: 10px 30px 10px 10px;
        cursor: text;
    }
    &__icon {
        position: absolute;
        top: 9px;
        right: 10px;
    }
}