.post-card {
    display: flex;
    flex-direction: column;
    &__img {
        @include aspect-ratio(40%);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: center;
        transition: 0.3s ease-in-out;
    }
    &__content {
        flex-grow: 1;
        padding: 15px 20px 18px 20px;
        background-color: $primary-light;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        @include respond-to('small') {
            padding: 20px 30px 25px 30px;
        }
    }
    &__date {
        margin-bottom: 3px;
        color: $text;
        transition: 0.3s ease-in-out;
        span {
            display: inline-block;
            &:first-of-type {
                margin-right: 20px;
            }
        }
    }
    h3 {
        margin-bottom: 25px;
        color: $text;
        transition: 0.3s ease-in-out;
    }
    &__btn {
        margin-top: auto;
        color: $primary;
        display: flex;
        align-items: center;
        transition: 0.3s ease-in-out;
        text-transform: uppercase;
        svg {
            margin-left: 7px;
            transition: 0.25s ease-in-out;
        }
        .a {
            transition: 0.3s ease-in-out;
            stroke: $primary;
            fill: transparent;
        }
    }
    &:hover {
        .post-card__img {
            background-position-x: 70%;
        }
        .post-card__content {
            background-color: $primary;
        }
        .post-card__date {
            color: white;
        }
        h3 {
            color: white;
        }
        .post-card__btn {
            color: white;
            .a {
                stroke: white;
            }
            svg {
                margin-left: 13px;
                transform: scaleX(1.3);
            }
        }
    }
}