.similar-posts {
    padding: 30px 0;
    border-top: 1px solid $primary;
    @include respond-to('medium') {
        padding: 70px 0;
    }
    h2 {
        margin-bottom: 30px;
    }
    &__row {
        @include respond-to('small') {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            row-gap: 30px;
        }
        @include respond-to('medium') {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .post-card {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include respond-to('small') {
            margin-bottom: 0;
        }
    }
}