.single-hero {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -70px;
    padding-top: 70px;
    @include respond-to('medium') {
        margin-top: -74px;
        padding-top: 74px;
    }
    &__title {
        text-align: center;
        color: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        @include respond-to('small') {
            min-height: 400px;
        }
        @include respond-to('large') {
            min-height: 500px;
        }
    }
}