.single-main {
    position: relative;
    padding: 30px 0;
    @include respond-to('small') {
        padding: 7rem 0;
    }
    .post__cats {
        color: $primary;
        margin-bottom: 3px;
    }
    &__title {
        margin-bottom: 0;
    }
    .post-date {
        margin-bottom: 20px;
        span {
            display: inline-block;
            &:first-of-type {
                margin-right: 20px;
            }
        }
    }
}

.editor {
    p {
        margin-bottom: 2.4rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin-bottom: 12px;
            padding-left: 25px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 10px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $primary;
                @include respond-to('medium') {
                    top: 10px;
                }
            }
        }
        @include respond-to('medium') {
            column-count: 2;
            column-gap: 30px;
        }
    }
    h2,
    h3 {
        margin: 30px 0 14px 0;
        @include respond-to('medium') {
            margin: 5rem 0 1.6rem 0;
        }
    }
    h4,
    h5,
    h6 {
        margin-bottom: 20px 0 12px 0;
        @include respond-to('small') {
            margin: 4rem 0 1.2rem 0;
        }
    }
    .wp-block-image,
    .wp-block-embed {
        margin: 30px 0 20px 0;
        @include respond-to('medium') {
            margin: 5rem 0 2rem 0;
        }
        figcaption {
            font-family: $title-font;
            margin-bottom: 0;
            margin-top: 10px;
            color: $primary;
        }
    }
    .wp-block-gallery {
        margin: 30px 0;
        @include respond-to('medium') {
            margin: 5rem 0;
        }
    }
    a {}
    blockquote,
    .wp-block-quote {
        margin: 30px 0;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        padding: 30px 0;
        @include respond-to('medium') {
            margin: 5rem 0;
            padding: 5rem 0;
        }
        p {
            margin: 0;
            font-family: $title-font;
            color: $primary;
            position: relative;
            @extend .h3;
            &:before {
                content: '';
                display: block;
                margin-bottom: 14px;
                background-image: url('images/quotation-sign.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 35px;
                @include respond-to('medium') {
                    width: 6.5rem;
                    height: 5rem;
                    margin-bottom: 20px;
                }
            }
        }
        cite {
            margin-top: 16px;
            display: block;
            color: $primary;
            font-style: normal;
            @include respond-to('medium') {
                margin-top: 1.2rem;
            }
        }
    }
    // wp video
    .wp-block-embed.is-type-video>.wp-block-embed__wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
    }
    .wp-block-embed.is-type-video>.wp-block-embed__wrapper>iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}