.social-share {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: center;
    background-color: white;
    box-shadow: -3px -1px 3px 2px rgba(141, 139, 139, 0.15);
    @include respond-to('medium') {
        flex-direction: column;
        position: sticky;
        top: 30px;
        padding: 0;
        box-shadow: none;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        @include respond-to('medium') {
            display: block;
        }
    }
    &__title {
        display: block;
        margin: 0 14px 0 0;
        font-family: $title-font;
        @include respond-to('medium') {
            margin: 0 0 10px 0;
        }
    }
    &__item {
        margin: 0 12px 0 0;
        @include respond-to('medium') {
            margin: 0 0 10px 0;
        }
    }
    &__wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        @include respond-to('medium') {
            position: absolute;
            top: 7rem;
            bottom: 7rem;
            left: 0;
            right: auto;
            width: calc((100% - 1040px)/2);
            text-align: center;
        }
    }
}

.social-icon-round {
    border: 1px solid $primary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--white {
        border: 1px solid white;
    }
}