.footer {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    &__top {
        padding: 30px 0;
        border-bottom: 1px solid $primary;
        @include respond-to('small') {
            padding: 5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__main {
        padding: 30px 0;
        @include respond-to('medium') {
            padding: 5rem 0;
        }
    }
    &__bottom {
        padding-bottom: 75px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @include respond-to('small') {
            padding-bottom: 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include respond-to('medium') {
            padding-bottom: 20px;
        }
    }
    &__logo {
        margin-bottom: 30px;
        display: block;
        width: 250px;
        @include respond-to('medium') {
            margin-bottom: 4rem;
            width: 364px;
        }
    }
    &__subscribe {
        max-width: 550px;
        margin-bottom: 20px;
        @include respond-to('small') {
            margin-bottom: 0;
            margin-right: 30px;
        }
        h3 {
            color: $primary;
            margin-bottom: 10px;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        a {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &__menus {
        @include respond-to('small') {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
        @include respond-to('large') {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
    &__menu {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include respond-to('small') {
            margin-bottom: 0;
        }
        &-title {
            margin-bottom: 17px;
            display: block;
            font-size: 16px;
            color: $primary;
            text-transform: capitalize;
            font-family: $title-font;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            a {
                color: white;
            }
        }
        &:not(.footer__socials) {
            ul {
                li {
                    margin-bottom: 7px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &__socials {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        li {
            margin-right: 20px;
            margin-bottom: 0;
            display: flex;
            &:last-of-type {
                margin-right: 0;
            }
        }
        .a {
            transition: 0.25s ease-in-out;
        }
        a {
            &:hover {
                .a {
                    fill: $primary;
                }
            }
        }
    }
    &__copyright {
        margin: 0;
        text-align: center;
        @include respond-to('small') {
            text-align: left;
        }
    }
    &__bottom-menu {
        margin-bottom: 10px;
        @include respond-to('small') {
            margin-bottom: 0;
            margin-left: 30px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li {
                margin-right: 8px;
                margin-left: 8px;
                @include respond-to('small') {
                    margin-bottom: 0;
                    margin-left: 30px;
                    margin-right: 0;
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
}