/*----------  Search icon  ----------*/

.search-wrap {
    position: relative;
    @include respond-to('large') {
        margin-left: 40px;
    }
    .search-input {
        display: inline-block;
        position: relative;
        input[type="text"] {
            width: 240px;
            font-size: 16px;
            color: $text;
            background: transparent;
            outline-width: 0px;
            padding: 11px 38px 11px 18px;
            border-radius: 0;
            border: 1px solid rgba(255, 255, 255, .8);
            transition: all 200ms ease;
            color: white;
            cursor: text;
            &:focus {
                border: 1px solid rgba(255, 255, 255, .6);
            }
            @include respond-to('large') {
                background: $primary;
            }
        }
    }
    .search-icon {
        background-color: transparent;
        display: flex;
        align-items: center;
        border: 0;
        outline: 0;
        position: absolute;
        right: 18px;
        top: 0;
        padding: 0;
        height: 100%;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            height: 1px;
            background: $primary;
            width: 100%;
            position: absolute;
            bottom: 2px;
            opacity: 0;
            left: 0;
            transition: 0.25s ease-in-out;
        }
        @include respond-to('large') {
            position: static;
            height: auto;
            padding: 10px 0;
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        span {
            margin-left: 10px;
            color: white;
        }
        &.hide-on-desktop {
            @include respond-to('large') {
                display: none;
            }
        }
    }
    .searchform {
        @include respond-to('large') {
            width: 240px;
            position: absolute;
            top: 200%;
            right: 0;
            visibility: hidden;
            display: none;
            &.show {
                visibility: visible;
                top: -5px;
                display: block;
            }
        }
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, .8);
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, .8);
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, .8);
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, .8);
}