$title-font: 'Frank Ruhl Libre',
serif;
$text-font: 'Raleway',
sans-serif;
body {
    font-family: $text-font;
    font-weight: 400;
    color: $text;
    font-size: 14px;
    line-height: 24px;
    @include respond-to('xxlarge') {
        font-size: 1.7rem;
        line-height: 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: 500;
    clear: both;
    margin: 0 0 1.8rem 0;
}

p {
    margin: 0 0 1.8rem 0;
    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
.h1 {
    @include fluid-type(320px, 1920px, 40px, 64px);
    @include line-height(320px, 1920px, 46px, 72px);
}

h2,
.h2 {
    @include fluid-type(320px, 1920px, 30px, 48px);
    @include line-height(320px, 1920px, 34px, 64px);
}

h3,
.h3 {
    @include fluid-type(320px, 1920px, 24px, 32px);
    @include line-height(320px, 1920px, 29px, 44px);
}

h4,
.h4 {
    @include fluid-type(320px, 1920px, 19px, 24px);
    @include line-height(320px, 1920px, 21px, 30px);
}

h5,
.h5 {
    @include fluid-type(320px, 1920px, 18px, 20px);
    @include line-height(320px, 1920px, 20px, 26px);
}

h6,
.h6 {
    @include fluid-type(320px, 1920px, 18px, 18px);
    @include line-height(320px, 1920px, 20px, 24px);
}

.big-text {
    @include fluid-type(320px, 1440px, 18px, 22px);
    @include line-height(320px, 1440px, 24px, 31px);
    font-family: $title-font;
}

.list-item {
    padding-left: 26px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        @include respond-to('medium') {
            top: 10px;
        }
    }
}